/bin/
*.class
*.cache
*.classpath
.cache-*
*_javadoc*
*-compile*
*/targer/*
*batch220918*.xml
default*.xml
export
input*
*.css
*.xsl
org.scala*
out*
*.xml.properties
*.xml.xml
*.eclipse.*
*.zip
data
copy-resources
.history
active.json